In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
#from matplotlib import pyplot as plt

In [2]:
df_train = pd.read_csv("data/train_users.csv")
df_test = pd.read_csv("data/test_users.csv")

In [3]:
users = pd.concat([df_train, df_test], sort = False)

In [4]:
users = users.drop(['date_first_booking'], axis = 1)

In [5]:
users.head(4)

,id,date_account_created,timestamp_first_active,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
0,gxn3p5htnn,2010-06-28,20090319043255,-unknown-,NaN,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NDF
1,820tgsjxq7,2011-05-25,20090523174809,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF
2,4ft3gnwmtx,2010-09-28,20090609231247,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US
3,bjjt8pjhuk,2011-12-05,20091031060129,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,other

#### Age

In [6]:
users.age.hist(bins = 100)

In [7]:
age_mask = users.age > 1000
users.loc[age_mask, 'age'] = 2015 - users.loc[age_mask, 'age']

In [8]:
users.loc[(users.age > 100) | (users.age < 18), 'age'] = -1
users.age.fillna(-1, inplace = True)

In [9]:
age_group = [x for x in range(20, 101, 5)]

In [10]:
users['age_group'] = np.digitize(users.age, bins = age_group, right = True)

In [11]:
users.head(3)

,id,date_account_created,timestamp_first_active,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination,age_group
0,gxn3p5htnn,2010-06-28,20090319043255,-unknown-,-1.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NDF,0
1,820tgsjxq7,2011-05-25,20090523174809,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF,4
2,4ft3gnwmtx,2010-09-28,20090609231247,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US,8

#### Nan

In [12]:
users.gender.unique()

array(['-unknown-', 'MALE', 'FEMALE', 'OTHER'], dtype=object)

In [13]:
users.first_affiliate_tracked.unique()

array(['untracked', 'omg', nan, 'linked', 'tracked-other', 'product',
       'marketing', 'local ops'], dtype=object)

In [14]:
users.first_browser.unique()

array(['Chrome', 'IE', 'Firefox', 'Safari', '-unknown-', 'Mobile Safari',
       'Chrome Mobile', 'RockMelt', 'Chromium', 'Android Browser',
       'AOL Explorer', 'Palm Pre web browser', 'Mobile Firefox', 'Opera',
       'TenFourFox', 'IE Mobile', 'Apple Mail', 'Silk', 'Camino', 'Arora',
       'BlackBerry Browser', 'SeaMonkey', 'Iron', 'Sogou Explorer',
       'IceWeasel', 'Opera Mini', 'SiteKiosk', 'Maxthon',
       'Kindle Browser', 'CoolNovo', 'Conkeror', 'wOSBrowser',
       'Google Earth', 'Crazy Browser', 'Mozilla', 'OmniWeb',
       'PS Vita browser', 'NetNewsWire', 'CometBird', 'Comodo Dragon',
       'Flock', 'Pale Moon', 'Avant Browser', 'Opera Mobile',
       'Yandex.Browser', 'TheWorld Browser', 'SlimBrowser', 'Epic',
       'Stainless', 'Googlebot', 'Outlook 2007', 'IceDragon', 'IBrowse',
       'Nintendo Browser', 'UC Browser'], dtype=object)

In [15]:
users['nans'] = np.sum([users.gender == '-unknown-', users.first_affiliate_tracked == 'untracked', users.first_browser == '-unknown-'], axis = 0)

In [16]:
users.head(5)

,id,date_account_created,timestamp_first_active,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination,age_group,nans
0,gxn3p5htnn,2010-06-28,20090319043255,-unknown-,-1.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NDF,0,2
1,820tgsjxq7,2011-05-25,20090523174809,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF,4,1
2,4ft3gnwmtx,2010-09-28,20090609231247,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US,8,1
3,bjjt8pjhuk,2011-12-05,20091031060129,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,other,5,1
4,87mebub9p4,2010-09-14,20091208061105,-unknown-,41.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,US,5,2

#### Time

In [17]:
users['date_account_created'] = pd.to_datetime(users['date_account_created'], errors='ignore')
users['timestamp_first_active'] = pd.to_datetime(users['timestamp_first_active'], format = "%Y%m%d%H%M%S")

In [18]:
users.head(4)

,id,date_account_created,timestamp_first_active,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination,age_group,nans
0,gxn3p5htnn,2010-06-28,2009-03-19 04:32:55,-unknown-,-1.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NDF,0,2
1,820tgsjxq7,2011-05-25,2009-05-23 17:48:09,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF,4,1
2,4ft3gnwmtx,2010-09-28,2009-06-09 23:12:47,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US,8,1
3,bjjt8pjhuk,2011-12-05,2009-10-31 06:01:29,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,other,5,1

In [19]:
date_account_created = pd.DatetimeIndex(users.date_account_created)
users['account_created_year'] = date_account_created.year
users['account_created_month'] = date_account_created.month
users['account_created_week'] = date_account_created.week
users['account_created_weekday'] = date_account_created.weekday
users['account_created_day'] = date_account_created.day

In [20]:
first_active = pd.DatetimeIndex(users.timestamp_first_active)
users['first_active_year'] = first_active.year
users['first_active_month'] = first_active.month
users['first_active_week'] = first_active.week
users['first_active_weekday'] = first_active.weekday
users['first_active_day'] = first_active.day

In [21]:
users['time_lag'] = (date_account_created.values - first_active.values).astype(int)

In [22]:
drop_list = ['date_account_created', 'timestamp_first_active']
users.drop(drop_list, inplace = True, axis = 1)

In [23]:
users.head(4)

,id,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,...,account_created_month,account_created_week,account_created_weekday,account_created_day,first_active_year,first_active_month,first_active_week,first_active_weekday,first_active_day,time_lag
0,gxn3p5htnn,-unknown-,-1.0,facebook,0,en,direct,direct,untracked,Web,...,6,26,0,28,2009,3,12,3,19,40246025000000000
1,820tgsjxq7,MALE,38.0,facebook,0,en,seo,google,untracked,Web,...,5,21,2,25,2009,5,21,5,23,63180711000000000
2,4ft3gnwmtx,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,...,9,39,1,28,2009,6,24,1,9,41042833000000000
3,bjjt8pjhuk,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,...,12,49,0,5,2009,10,44,5,31,66074311000000000

In [24]:
categories = list(set(users.select_dtypes('O').columns) - set(['id', 'country_destination']))

In [25]:
categories

['affiliate_provider',
 'signup_method',
 'first_device_type',
 'first_affiliate_tracked',
 'language',
 'signup_app',
 'first_browser',
 'gender',
 'affiliate_channel']

In [26]:
for category in categories:
    users = pd.concat([users, pd.get_dummies(users[category], prefix = category)], axis = 1)

In [27]:
users.head(4)

,id,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,...,gender_MALE,gender_OTHER,affiliate_channel_api,affiliate_channel_content,affiliate_channel_direct,affiliate_channel_other,affiliate_channel_remarketing,affiliate_channel_sem-brand,affiliate_channel_sem-non-brand,affiliate_channel_seo
0,gxn3p5htnn,-unknown-,-1.0,facebook,0,en,direct,direct,untracked,Web,...,0,0,0,0,1,0,0,0,0,0
1,820tgsjxq7,MALE,38.0,facebook,0,en,seo,google,untracked,Web,...,1,0,0,0,0,0,0,0,0,1
2,4ft3gnwmtx,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,...,0,0,0,0,1,0,0,0,0,0
3,bjjt8pjhuk,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,...,0,0,0,0,1,0,0,0,0,0

In [28]:
users = users.drop(categories, axis = 1)

In [29]:
import re

In [30]:
columns = ['_'.join(re.findall('[a-z0-9]+', column.lower())) for column in users.columns]
users.columns = columns

#### Session

In [31]:
sessions = pd.read_csv('data/sessions.csv')

In [32]:
sessions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10567737 entries, 0 to 10567736
Data columns (total 6 columns):
user_id          object
action           object
action_type      object
action_detail    object
device_type      object
secs_elapsed     float64
dtypes: float64(1), object(5)
memory usage: 483.8+ MB

In [33]:
sessions.head(3)

,user_id,action,action_type,action_detail,device_type,secs_elapsed
0,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,319.0
1,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,67753.0
2,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,301.0

In [34]:
sessions = sessions.rename(columns = {'user_id':'id'})

In [35]:
sessions.head(3)

,id,action,action_type,action_detail,device_type,secs_elapsed
0,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,319.0
1,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,67753.0
2,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,301.0

In [36]:
sessions.action_type.unique()

array([nan, 'click', 'data', 'view', 'submit', 'message_post',
       '-unknown-', 'booking_request', 'partner_callback',
       'booking_response', 'modify'], dtype=object)

In [37]:
action_count = sessions.groupby(['id', 'action'])['secs_elapsed'].agg(len).unstack()
action_type_count = sessions.groupby(['id', 'action'])['secs_elapsed'].agg(len).unstack()
action_detail_count = sessions.groupby(['id', 'action'])['secs_elapsed'].agg(len).unstack()
device_type_sum = sessions.groupby(['id', 'device_type'])['secs_elapsed'].agg(sum).unstack()

In [38]:
sessions_data = pd.concat([action_count, action_type_count, action_detail_count, device_type_sum], axis = 1, sort = False)

In [39]:
sessions_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 135483 entries, 00023iyk9l to ztvrwgyxm2
Columns: 1091 entries, 10 to iPodtouch
dtypes: float64(1091)
memory usage: 1.1+ GB

In [40]:
sessions_data.head(4)

,10,11,12,15,about_us,accept_decline,account,acculynk_bin_check_failed,acculynk_bin_check_success,acculynk_load_pin_pad,...,Chromebook,Linux Desktop,Mac Desktop,Opera Phone,Tablet,Windows Desktop,Windows Phone,iPad Tablet,iPhone,iPodtouch
00023iyk9l,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,295642.0,NaN,NaN,NaN,NaN,NaN,572254.0,NaN
0010k6l0om,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,586543.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
001wyh0pz8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0028jgx1x1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
sessions_data.head(4)

,10,11,12,15,about_us,accept_decline,account,acculynk_bin_check_failed,acculynk_bin_check_success,acculynk_load_pin_pad,...,Chromebook,Linux Desktop,Mac Desktop,Opera Phone,Tablet,Windows Desktop,Windows Phone,iPad Tablet,iPhone,iPodtouch
00023iyk9l,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,295642.0,NaN,NaN,NaN,NaN,NaN,572254.0,NaN
0010k6l0om,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,586543.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
001wyh0pz8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0028jgx1x1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
sessions_data['most_used_device'] = sessions.groupby('id')['device_type'].max().values

In [44]:
pd.get_dummies(sessions_data['most_used_device'], prefix = 'most_used_')

,most_used__-unknown-,most_used__Android App Unknown Phone/Tablet,most_used__Android Phone,most_used__Blackberry,most_used__Chromebook,most_used__Linux Desktop,most_used__Mac Desktop,most_used__Opera Phone,most_used__Tablet,most_used__Windows Desktop,most_used__Windows Phone,most_used__iPad Tablet,most_used__iPhone,most_used__iPodtouch
00023iyk9l,0,0,0,0,0,0,0,0,0,0,0,0,1,0
0010k6l0om,0,0,0,0,0,0,1,0,0,0,0,0,0,0
001wyh0pz8,0,1,0,0,0,0,0,0,0,0,0,0,0,0
0028jgx1x1,0,0,1,0,0,0,0,0,0,0,0,0,0,0
002qnbzfs5,0,0,0,0,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zk7o71gthm,0,0,0,0,0,0,0,0,0,1,0,0,0,0
zkxn77625q,0,0,0,0,0,0,0,0,0,1,0,0,0,0
zrt8vduew9,0,0,0,0,0,0,0,0,0,1,0,0,0,0
zt1ye45u5o,0,0,0,0,0,0,0,0,0,1,0,0,0,0
ztvrwgyxm2,0,0,0,0,0,0,0,0,0,1,0,0,0,0

In [45]:
sessions_data = pd.concat([sessions_data, pd.get_dummies(sessions_data['most_used_device'], prefix = 'most_used_')], axis = 1)

In [47]:
sessions_data.columns = ['_'.join(re.findall('[a-z0-9]+', column.lower())) for column in sessions_data.columns]

Merge

merge -> must put how otherwise, default = 'inner' drop rows

In [49]:
sessions_data = sessions_data.reset_index()

In [50]:
sessions_data = sessions_data.rename({'level_0':'id'}, axis = 1)

In [51]:
users = users.merge(sessions_data, on = 'id', how = 'left')

In [52]:
secs_elapsed = sessions.groupby('id')['secs_elapsed']

In [53]:
secs_elapsed = secs_elapsed.agg(
{
    'sec_elapsed_sum': np.sum,
    'sec_elapsed_mean': np.mean,
    'sec_elapsed_std': np.std,
    'sec_elapsed_max': np.max,
    'sec_elapsed_min': np.min,
    'sec_elapsed_median': np.median,
    'day_pauses': lambda x: (x > 86400).sum(),
    'long_pauses': lambda x: (x > 300000).sum(),
    'short_pauses': lambda x: (x < 3600).sum(),
    'session_length' : np.count_nonzero
}
)

/Users/keonhoseo/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version. Use                 named aggregation instead.

    >>> grouper.agg(name_1=func_1, name_2=func_2)

  if sys.path[0] == '':

In [54]:
secs_elapsed

,sec_elapsed_sum,sec_elapsed_mean,sec_elapsed_std,sec_elapsed_max,sec_elapsed_min,sec_elapsed_median,day_pauses,long_pauses,short_pauses,session_length
id,,,,,,,,,,
00023iyk9l,867896.0,22253.743590,92242.561900,567165.0,0.0,850.0,2.0,1.0,29.0,39.0
0010k6l0om,586543.0,9460.370968,22751.227918,127898.0,3.0,948.5,2.0,0.0,46.0,63.0
001wyh0pz8,282965.0,3179.382022,6569.648182,50548.0,35.0,1105.0,0.0,0.0,71.0,90.0
0028jgx1x1,297010.0,9900.333333,18004.964337,84636.0,3.0,1614.0,0.0,0.0,17.0,31.0
002qnbzfs5,6487080.0,8232.335025,58110.646170,1418284.0,0.0,498.0,13.0,3.0,602.0,787.0
...,...,...,...,...,...,...,...,...,...,...
zzxox7jnrx,639436.0,7266.318182,14654.349278,98479.0,4.0,874.5,1.0,0.0,55.0,89.0
zzy7t0y9cm,73771.0,10538.714286,16877.818557,42612.0,10.0,697.0,0.0,0.0,4.0,8.0
zzysuoqg6x,1731.0,865.500000,943.987553,1533.0,198.0,865.5,0.0,0.0,2.0,3.0
zzywmcn0jv,2149949.0,42998.980000,121986.377827,525635.0,5.0,2337.5,5.0,3.0,33.0,51.0
zzzlylp57e,430959.0,5903.547945,11369.012888,61988.0,0.0,1036.0,0.0,0.0,49.0,65.0

In [55]:
users = users.merge(secs_elapsed, how = 'left', on = 'id')

In [56]:
users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 275547 entries, 0 to 275546
Columns: 1268 entries, id to session_length
dtypes: float64(1116), int64(14), object(3), uint8(135)
memory usage: 2.4+ GB

In [57]:
users = users.set_index('id')

In [58]:
users.head(4)

,age,signup_flow,country_destination,age_group,nans,account_created_year,account_created_month,account_created_week,account_created_weekday,account_created_day,...,sec_elapsed_sum,sec_elapsed_mean,sec_elapsed_std,sec_elapsed_max,sec_elapsed_min,sec_elapsed_median,day_pauses,long_pauses,short_pauses,session_length
id,,,,,,,,,,,,,,,,,,,,,
gxn3p5htnn,-1.0,0,NDF,0,2,2010,6,26,0,28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
820tgsjxq7,38.0,0,NDF,4,1,2011,5,21,2,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4ft3gnwmtx,56.0,3,US,8,1,2010,9,39,1,28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
bjjt8pjhuk,42.0,0,other,5,1,2011,12,49,0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
users.info()

<class 'pandas.core.frame.DataFrame'>
Index: 275547 entries, gxn3p5htnn to 9uqfg8txu3
Columns: 1267 entries, age to session_length
dtypes: float64(1116), int64(14), object(2), uint8(135)
memory usage: 2.4+ GB

In [60]:
df_train = df_train.reset_index()

In [61]:
users.loc[df_train['id']].to_csv('data/train_data.csv')
users.loc[df_test['id']].drop('country_destination', axis = 1).to_csv('data/test_data.csv')